:root {
  --accent-color: #4d5ae5;
  --brand-color: #2e2f42;
  --text-color: #434455;
  --hover-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--brand-color);
}

/* STUDIO */
/* HEADER */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}
.logo-studio {
  color: var(--brand-color);
}
.nav-list {
  list-style: none;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.contacts-list {
  list-style: none;
  font-style: normal;
}

.contacts-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--hover-color);
}

.contacts-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.contacts-number:hover,
.contacts-number:focus {
  color: var(--hover-color);
}

/* MAIN */

/* HERO */
.hero {
  background-color: var(--brand-color);
}
.hero-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

/* SECTION 1.FEATURES */

.features-list {
  list-style: none;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.2;
  letter-spacing: 0.02em;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* SECTION 2.WHAT ARE WE DOING */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.services-list {
  list-style: none;
}

/* SECTION 3.OUR TEAM  */
.our-team {
  background-color: #f4f4fd;
}
.team-list {
  list-style: none;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* FOOTER */
.page-footer {
  background-color: var(--brand-color);
}
.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* PORTFOLIO */

/* MAIN */

/* FILTER BUTTONS */
.filters-list {
  list-style: none;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #f4f4fd;
}
.filter-button:active {
  color: #ffffff;
  background-color: var(--hover-color);
}

/* CARDS */
.portfolio-list {
  list-style: none;
}
.portfolio-card {
  text-decoration: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
